[user]
	name = Matt Kline
	email = matt@bitbashing.io
[core]
	autocrlf = false
	editor = vim
[color]
	ui = auto
[alias]
	graph = log --graph --oneline --decorate
	ff = merge --ff-only
	zip = archive --format=zip
	dt = difftool
	ga = log --oneline --decorate --graph --all
	gr = log --oneline --decorate --graph
	co = checkout
	ci = commit
	st = status
	df = diff
	cam = commit --amend
	append = commit --amend --no-edit
[diff]
	tool = meld
[color "sh"]
	branch = yellow bold
	dirty = red bold
[push]
	default = upstream
[merge]
	ff = false
