[user]
	name = Matt Kline
	email = slavik262@gmail.com
[core]
	pager = less -x5
	autocrlf = false
	editor = vim
[color]
	ui = auto
[alias]
	graph = log --graph --oneline --decorate
	ff = merge --ff-only
	zip = archive --format=zip
	dt = difftool
[diff]
	tool = meld
[color "sh"]
	branch = yellow bold
	dirty = red bold
[push]
	default = current
